<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8" />
        <link rel="stylesheet" href="css/style.css" />
		<title>Bienvenue sur nos ressources web</title>
</head>
<body>
	
<h1> Mutualisons nos liens ! </h1>

<%= yield %>

	
</body>
</html>