html{
	height: 100%;
	width: 100%;
}

body{
	height: 100%;
	width: 100%;
	background-color: pink;
}


.lien_app{
 z-index: 2;
}

.background{
	opacity: 0.8;
    z-index: -1;
   	position: absolute;
	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	margin: 0;
  	padding: 0;
	background-image: url(../images/fond-nuages.jpg);
	background-size: cover;
}



h1, h2{
	color:blue;
	text-align: center;
}



#formulaires{
	background-color: yellow;
	margin-left: auto;
 	margin-right: auto;
}

.bouton{
	list-style: none;
}
